.historydiv{
    margin: 5px;
    width: 860px;
    height:360px;
    background-color:rgb(180, 238, 183);
}
table td,table th {
    border: 1px solid rgb(118, 113, 113);
    padding: 8px;
  }
table th {
    padding: 12px;
    text-align: left;
    background-color:rgb(237, 191, 191);
    width: 250px;
  }